.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Медіазапит для планшетів та деяких десктопів */
@media only screen and (min-width: 768px) {

  .table-cell-photo {
    width: 100px;
    height: 100px;
  }

  .table-cell-code,
  .table-cell-stock,
  .table-cell-qty,
  .table-cell-price,
  .add-to-cart-btn,
  .add-to-cart-btn-outside,
  .add-product-btn,
  .back-btn,
  .new-category-btn,
  .category-btn {
    width: 100%;
    height: auto;
  }
}

/* Медіазапит для невеликих екранів (наприклад, мобільних пристроїв) */
@media only screen and (max-width: 767px) {
  .table-area,
  .breadcrumbs,
  .table-head,
  .table-body,
  .table-row {
    width: 100%;
  }

  .table-cell-photo {
    width: 100%;
    height: auto;
  }

  .table-cell-code,
  .table-cell-stock,
  .table-cell-qty,
  .table-cell-price,
  .add-to-cart-btn,
  .add-to-cart-btn-outside,
  .add-product-btn,
  .back-btn,
  .new-category-btn,
  .category-btn {
    width: 100%;
    height: auto;
  }
}